<% if @user %>
  <h1>Welcome, <%= @user.username %></h1>
<% end %>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark">
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete"/>
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit"/>
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add Tag" />
      </form>
      <ul>
        <% bookmark.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
      <ul>
        <% bookmark.tags.each do |tag| %>
          <li><%= tag.text %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>